.user-pict{
    width:60px;height: 60px;
}
.user a{
    color:#2ecc71;
}
.comm_time{
    font-size: 13px;
}
.comment-text {
    margin-bottom: .2em;

}
.row_user{
    margin-bottom: 0;padding-bottom: 0;
}
.comment-text p{
    font-size: 15px;
}
.comment{
    border-bottom:1px solid #dfe6e9;padding-bottom: .5em
}

.fas{
    font-size: 14px;
    cursor: pointer;
    display: inline;
}

.like-dislike-text{
    font-size:14px;
}
.liked{
    color:green;
}
.dissliked{
    color:red;
}
.odgovor{
    display: inline;
    font-size: 15px;
    color:#28A745;
}
.odgovor:hover{
    text-decoration: none;
    color:#28A745;
}
.odgovor-forma{
    display: none;
}
#like-text{
    display: inline;
}
.fa-thumbs-up{
    font-size: 13px;
}
.fa-thumbs-down{
    font-size: 13px;
}
.rating_counts{
    font-size: 13px;
}
#text{
    border-color: transparent;
    border-bottom-color: #7f8c8d;
}
#text:focus{

    border-bottom-color: #2ecc71;
    box-shadow: none;
    outline: 0 none;
}
#text:read-only{
  border-bottom-color: transparent;
}
.like .disslike{
    display: inline;
}